body {
    font-family: 'Monserrat', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #070707;
    color: #333;
    padding: 2rem;
}

.container {
    max-width: 950px;
    margin: 0 auto;
    background-color: #333333;
    padding: 2.5rem;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    color: #f2f2f2;
}

h1, h2, h3 { color: #ffffff; border-bottom: 2px solid #f26bce; padding-bottom: 0.8rem; }

/* Estilos de Tabla */
table { width: 100%; border-collapse: collapse; margin: 2rem 0; box-shadow: 0 2px 8px rgba(0,0,0,0.05); }
th, td { border: 1px solid #f26bce; padding: 14px; text-align: center; }
th { background-color: #af257e; color: #ffffff; font-weight: 600; }
.resultado-header { background-color: #f26bce; }
tbody tr:nth-child(even) { background-color: #eaa4db; }

/* Estilos del Diagrama de Gantt y Animación */
.gantt-container {
    display: flex;
    width: 100%;
    height: 70px;
    border-radius: 6px;
    background-color: #f2f2f2;
    position: relative;
    overflow: visible;
    border: 3px solid #f26bce;
}

.gantt-block {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f2f2f2;
    font-weight: bold;
    font-size: 1.2rem;
    position: relative;
    width: 0;
    opacity: 0;
    transition: width 0.8s ease-in-out, opacity 0.5s ease-in;
    white-space: nowrap;
    overflow: hidden;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
}


.gantt-block.animate-grow {
    opacity: 1;
}

.gantt-time-marker {
    position: absolute;
    bottom: -30px;
    font-size: 0.95rem;
    font-weight: 700;
    color: #af257e;
    transform: translateX(-50%);
}

.metrics-summary {
    margin-top: 2rem;
    background-color: #eaa4db;
    padding: 1.5rem;
    border-radius: 8px;
    border-left: 5px solid #af257e;
}